body {
    margin: 0;
    background: snow;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#news-icons {
    float: left;
    width: 20%;
    border-bottom: 2px solid grey;
    border-top: 2px solid grey;
    position: relative;
}
#news-icons:before {
    content: '';
    position: absolute;
    left: 100%;
    top: -2px;
    border: 1px solid grey;
    width: 10%;
}
#news-icons:after {
    content: '';
    position: absolute;
    left: 100%;
    bottom: -2px;
    border: 1px solid grey;
    width: 4%;
}
.news-icon {
    position: relative;
    margin: 5px;
    font-family: cursive;
    overflow: hidden;
}
.news-icon:hover {
    cursor: pointer;
    opacity: 0.5;
    font-weight: bold;
}
.news-icon span:first-child {
    width: 30%;
    display: block;
    float: left;
}
.news-icon span:last-child {
    width: 70%;
    display: block;
    font-size: 20px;
    position: absolute;
    left: 32%;
    top: 0;
}
#news-icons img {
    width: 100%;
    display: block;
}
#news-content {
    float: right;
    width: 79%;
    background: lightyellow;
    border-top: 2px solid grey;
}
#news-content h1 {
    text-transform: uppercase;
}
#news-content h1,
#news-content h2 {
    text-align: center;
    border-bottom: 1px dashed grey;
    font-family: fantasy;
}
.news-content-item {
    margin-bottom: 20px;
    border-bottom: 2px solid grey;
}
.news-content-item img {
    display: block;
    width: 70%;
    margin: 0 auto;
}
.news-content-item p {
    font-size: 18px;
    margin: 20px 10px;
    font-family: cursive;
}
.news-content-item span {
    margin: 15px;
    font-weight: bold;
    display: block;
    font-family: cursive;
}

/*# sourceMappingURL=main.css.map*/