<div id="news-icons">
    <ul class="">
        <li class='clearfix news-icon' data-src="nhl-news"><span><img id="nhl" src="" alt="Logo"></span><span>NHL News</span></li>
        <li class='clearfix news-icon' data-src="cnn"><span><img id="cnn" src="" alt="Logo"></span><span>CNN</span></li>
        <li class='clearfix news-icon' data-src="nfl-news"><span><img id="nfl" src="" alt="Logo"></span><span>NFL News</span></li>
        <li class='clearfix news-icon' data-src="mtv-news"><span><img id="mtv" src="" alt="Logo"></span><span>Mtv-News</span></li>
        <li class='clearfix news-icon' data-src="crypto-coins-news"><span><img id="crypto-coins" src="" alt="Logo"></span><span>Crypto Coins News</span></li>
        <li class='clearfix news-icon' data-src="espn"><span><img id="espn" src="" alt="Logo"></span><span>ESPN</span></li>
        <li class='clearfix news-icon' data-src="national-geographic"><span><img id="national-geographic" src="" alt="Logo"></span><span>National Geographic</span></li>
        <li class='clearfix news-icon' data-src="engadget"><span><img id="engadget" src="" alt="Logo"></span><span>Engadget</span></li>
        <li class='clearfix news-icon' data-src="time"><span><img id="time" src="" alt="Logo"></span><span>Time</span></li>
        <li class='clearfix news-icon' data-src="the-new-york-times"><span><img id="the-new-york-times" src="" alt="Logo"></span><span>The New York Times</span></li>
    </ul>
</div>
<div id="news-content">
    <h1>Let's start, check the news that you want to read...</h1>
</div>
<link href="dist/css/main.css" rel="stylesheet">
